.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: white;
}
.container_global {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    min-height: 10px;
    min-width: 10px;
    border: 1px solid cyan;
    padding: 5px;
    border-radius: 5px;
    margin: 0 20px;
}

.container_buttons {
    border: 1px solid cyan;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.countCSS {
    background-color: aqua;
    color: #282c34;
    border-radius: 5px;
}

.button_inc {
    background-color: aqua;
    color: #282c34;
    border-radius: 5px;
    margin-left: 5px;
    font-size: calc(20px + 2vmin);
}

.button_reset {
    background-color: aqua;
    color: #282c34;
    margin-left: 5px;
    border-radius: 5px;
    font-size: calc(20px + 2vmin);
}

.button_set {
    background-color: aqua;
    color: #282c34;
    border-radius: 5px;
    font-size: calc(20px + 2vmin);
}

.red_count {
    font-size: calc(20px + 2vmin);
    color: red;
    font-weight: bold;
    transition: all .5s ease-in-out;
    animation: .3s linear 0s normal none 1 running red_count;
}

@keyframes red_count {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}



.button_opac {
    opacity: 0.1;
    transition: all .3s ease-in-out;
    animation: 1s linear 0s normal none 1 running button_opac;
}

@keyframes button_opac {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}

.inputValue {
    border: 1px solid cyan;
    border-radius: 5px;
    max-width: 50px;
    text-align: center;
    font-size: calc(20px + 2vmin);
}
.inputValue_incorrect {
    background-color: palevioletred;
    border: 2px solid red;
}
